### Input configuration
#
# Example configuration:
#
#   input "2:14:SynPS/2_Synaptics_TouchPad" {
#       dwt enabled
#       tap enabled
#       natural_scroll enabled
#       middle_emulation enabled
#   }
#
# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.
seat * hide_cursor 8000

input "1133:4136:Logitech_M570" {
    accel_profile flat
    middle_emulation enabled
    calibration_matrix .6 0 0 0 .6 0
    pointer_accel .8
}

input type:keyboard {
    repeat_delay 250
    repeat_rate 30
    xkb_numlock enabled
}
