### Variables
#
# Logo key. Use Mod1 for Alt.
set $mod Mod4
# Home row direction keys, like vim
set $left h
set $down j
set $up k
set $right l
# Your preferred terminal emulator
set $term "alacritty"

# Your preferred terminal emulator
set $browser firefox
# Your preferred application launcher
# Note: it's recommended that you pass the final command to sway
set $appMenu rofi -modi combi -show-icons -show combi -combi-modi "drun,run" | xargs swaymsg exec --

set $runMenu rofi -show run | xargs swaymsg exec --
