[submodule ".config/termite"]
	path = .config/termite
	url = /home/g/.config/termite
[submodule ".config/fisherman/bass"]
	path = .config/fisherman/bass
	url = /home/g/.config/fisherman/bass/
[submodule ".config/fisherman/bobthefish"]
	path = .config/fisherman/bobthefish
	url = /home/g/.config/fisherman/bobthefish/
[submodule ".config/fisherman/fasd"]
	path = .config/fisherman/fasd
	url = /home/g/.config/fisherman/fasd/
[submodule ".config/fisherman/grc"]
	path = .config/fisherman/grc
	url = /home/g/.config/fisherman/grc
[submodule ".config/fisherman/vte"]
	path = .config/fisherman/vte
	url = /home/g/.config/fisherman/vte
[submodule ".config/fish/termite"]
	path = .config/fish/termite
	url = /home/g/.config/termite
