# Ignore everything
*
.dot/*

# But not these files...
!.gitignore
!script.pl
!template.latex
!*conf*
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
!.local/bin/*
# !*/a/b/c/*
